[submodule "FastBit_ARMcourse"]
	path = FastBit_ARMcourse
	url = https://github.com/SoumyaCode74/FastBit_ARMcourse.git
[submodule "STM32_MCU_Peripherals"]
	path = STM32_MCU_Peripherals
	url = https://github.com/SoumyaCode74/STM32_MCU_Peripherals.git
