[submodule "STM32_MCU_Peripherals"]
	path = STM32_MCU_Peripherals
	url = https://github.com/SoumyaCode74/STM32_MCU_Peripherals.git
[submodule "LetUsC"]
	path = LetUsC
	url = https://github.com/SoumyaCode74/LetUsC.git
[submodule "C-Cpp-course-practice"]
	path = C-Cpp-course-practice
	url = https://github.com/SoumyaCode74/C-Cpp-course-practice.git
[submodule "FastBit_ARMcourse"]
	path = FastBit_ARMcourse
	url = git@github.com:SoumyaCode74/FastBit_ARMcourse.git
